<!DOCTYPE html>
<html data-ng-app="<%= appname %>.ui" data-ng-strict-di>
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niji Angular Boilerplate</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="Wrapper">
      <nav class="Nav">
        <a data-ui-sref="index()" class="Nav__Link">Index</a>
        <a data-ui-sref="list()" class="Nav__Link">List</a>
      </nav>
      <main data-ui-view></main>
    </div>
    <script defer src="./js/vendor.js"></script>
    <script defer src="./js/app.js"></script>
  </body>
</html>
